//
// Authentication layout
//

#layoutAuthentication {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    #layoutAuthentication_content {
        min-width: 0;
        flex-grow: 1;
    }

    #layoutAuthentication_footer {
        min-width: 0;
    }
}


.bg-login-image {
  background: url($login-image);
  background-position: center;
  background-size: cover;
}

.bg-register-image {
  background: url($register-image);
  background-position: center;
  background-size: cover;
}

.bg-password-image {
  background: url($password-image);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
